* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


#header-title {
    height: 10vh;
    background-color: #02A28F;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px #D9D9D9;
}

#header-title > h1 {
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 10%;
}

#container{
    display: grid;
    grid-template-columns: auto 30%;
    grid-column-gap: 1.5em;
    padding: 3% 10% 3% 10%;
}


#section-image {
    background-image: url(./assets/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
    height: 24.75em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #FFFFFF;
    row-gap: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    box-shadow: 0 10px 10px #D9D9D9;
    
    span {
        font-size: 1rem;
    }
    
    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}

#section-title {
    height: 3.5em;
    background-color: #02A28F;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 1.5em;
    margin-top: 1.5rem;
    box-shadow: 0 10px 10px #D9D9D9;

    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
    
    a {
        color: #FFFFFF;
        font-size: 0.875em;
    }
}

#section-article {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

.article-card {
    border-radius: 0.8em;
    box-shadow: 0 10px 10px #D9D9D9;
    margin-top: 1em;
}

.card-image img {
    width: 100%;
}

.card-text {
    padding: 0 1em ;

    p {
        font-size: 0.875em;
        line-height: 1.5em;
        margin: 0.5em 0;
    }

    h3 {
        font-size: 1.5em;
    }
}

.first-paragraph  {
    color: #0ebba7;
}

.aside-title {
    height: 3em;
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 0.6em;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 10px #D9D9D9;
}

.category {
    margin-top: 1.5em;
}

.aside-card {
    display: flex;
    gap: 0.5em;
    height: 6em;
    margin-top: 1.2em;
    padding: 0.7em;
    border-radius: 0.8em;
    box-shadow: 0 10px 10px #D9D9D9;
    
    img {
        width: 30%;
        border-radius: 0.8em;
    }

    h5 {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    p {
        font-size: 0.6em;
    }
}

#aside-list {
    font-size: 1em;
    font-weight: 600;
    
    div {
        display: flex;
        justify-content: space-between;
        margin-top: 0.8em;
    }
}

#footer-copy {
    background-color: #02A28F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;

    h3 {
        color: #FFFFFF;
        font-size: 0.8em;

    }
}

@media only screen and (max-width: 1600px) {
    .aside-card h5 {
        font-size: 0.7em;
        margin-top: 1.6em;
    }
    .aside-card p {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 1024px) {
    #container {
        grid-template-columns: 1fr;
    }
    .aside-title {
        margin-top: 1.5em;
    }
    .aside-card h5 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.2em;
        margin-top: 0;
    }
    .aside-card p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}
